@font-face {
  font-family: "iconfont"; /* Project id 5031820 */
  src: url('//at.alicdn.com/t/c/font_5031820_lbtwuqs8khe.woff2?t=1759290401448') format('woff2'),
       url('//at.alicdn.com/t/c/font_5031820_lbtwuqs8khe.woff?t=1759290401448') format('woff'),
       url('//at.alicdn.com/t/c/font_5031820_lbtwuqs8khe.ttf?t=1759290401448') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yinle:before {
  content: "\e602";
  color: gray;
}

.icon-juanzeng:before {
  content: "\e7ee";
  color: gray;
}

.icon-shouye-copy:before {
  content: "\e650";
  color: gray;
}

.icon-github:before {
  content: "\e64c";
  color: gray;
}

.icon-tieba:before {
  content: "\e6b4";
  color: rgb(0, 153, 255);
}

.icon-bilibili-fill:before {
  content: "\e7ca";
  color: rgb(0, 153, 255);
}

.icon-yinle1:before {
  content: "\e99a";
  color: gray;
}